<% provide(:title, "Portfolio") %>

<ul class="nav nav-pills">
    
    <li><%= link_to "Quote",   '#' %></li>
    <li><%= link_to "Buy"  ,   '#' %></li>
    <li><%= link_to "Sell",    '#' %></li>    
    <li><%= link_to "History", '#' %></li>
    <li><%= link_to logout_path, method: "delete" do %>
	        <strong><%= "Log Out" %></strong>
		<% end %>
	</li>
</ul>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>

    <tbody>
           

    <tr>
        <td><%= 'FREE' %></td>
        <td><%= 'FREE' %></td>
        <td><%= 50 %></td>
        <td>$<%= 15.00 %></td>
        <td>$<%= 10000.00 %></td>
    </tr>

    
    <tr>
        <td colspan="4">CASH</td>
        <td>$<%= 10000.00 %></td>
    </tr>

    </tbody>

</table>